<body>
    <div class="interface">
        <section>   
            <div class="content">
                <h1> Possiveis filmes que você deixo de ver </h1>

                <div class="text">
                    <p> Seja bem-vindo ao nosso site!  </p>
                </div>

                <div class="featured">
                    <h2> Filmes mais acessados </h2><br/>
                    <div class="featured-img">
                        <img class="wick" src="../../assets/img/drama/unnamed.jpg" alt="unnamed">
                        <img class="aranha" src="../../assets/img/featured/filmes_2812_posterjumanji2.jpg" alt="filmes_2812_posterjumanji2">
                        <img class="galax" src="../../assets/img/featured/guardioes_da_galaxia-20941701.jpg" alt="guardioes_da_galaxia">
                        <img class="aranha" src="../../assets/img/terror/fale_comigo_poster__2w23gsn09.webp" alt="fale_comigo_poster__2w23gsn09">
                        <img class="aranha" src="../../assets/img/featured/homem-aranha-sem-volta-pra-casa.jpg" alt="homem-aranha-sem-volta-pra-casa">
                    </div>
                    <a type="button" [routerLink]="['categorias']"> Saiba mais </a>
                </div>
            </div>
        </section>
    </div>
</body>